<% layout('layouts/boilerplate') %>

<div class="container-fluid">
  <h1 class="text-center">Add a Board Game</h1>
  <form action="/add" method="POST" class="validated-form" novalidate>
    <!-- TITLE -->
    <div class="mb-3">
      <label for="title" class="form-label">Title</label>
      <input type="text" class="form-control" id="title" name="title" aria-describedby="title" required>
    </div>

    <!-- DESIGNER -->
    <div class="mb-3">
      <label for="designer" class="form-label">Designer</label>
      <input type="text" class="form-control" id="designer" name="designer" aria-describedby="designer">
    </div>

    <!-- PUBLISHER -->
    <div class="mb-3">
      <label for="publisher" class="form-label">Publisher</label>
      <input type="text" class="form-control" id="publisher" name="publisher" aria-describedby="publisher">
    </div>

    <!-- DESCRIPTION -->
    <div class="mb-3">
      <label for="description" class="form-label">Description</label>
      <textarea class="form-control" id="description" name="description" aria-describedby="description"></textarea>
    </div>

    <!-- IMAGES -->

    <!-- <div class="input-group mb-3">
      <input type="file" class="form-control" id="images">
      <label class="input-group-text" for="images">Upload</label>
    </div>

    <h3>or</h3> -->

    <div class="mb-3">
      <label class="form-label" for="images">Image URL</label>
      <input type="text" class="form-control" name="images" id="images">
    </div>

    <!-- SUBMIT BUTTON -->
    <div class="mb-3">
      <button class="btn btn-success">Add Board Game</button>
    </div>

  </form>


</div>